#sideNav {
  background-color: var(--primary-color);
  width: 25%;
  height: 1000px;
}

.logo {
  padding: 30px;
  display: flex;
  justify-content: center;
  img {
    width: 80%;
  }
}
.sidenav-links {
  font-size: var(--font-subtitle1);
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 5rem;
  color: #fff;
  ul {
    li {
      display: flex;
      align-items: center;
      margin: 28px 10px;
      font-weight: 600;
      border-radius: 4px;
      height: 52px;
      background-color: var(--primary-light);
      :last-child {
        margin-left: 1rem;
      }
      .side-rectangle {
        width: 4px;
      }
    }
    a {
      color: #fff;
      cursor: pointer;
    }
  }
}

.active a {
  color: var(--secondary-color) !important;
}
.active .side-rectangle {
  width: 4px;
  height: 52px;
  background-color: var(--secondary-color);
  border-radius: 4px 0px 0px 4px;
}

.language_changer {
  background-color: var(--primary-light);
  color: #fff;
  padding: 12px 20px;
  margin: 0 1.2rem 1.2rem;
  display: flex;
  align-items: center;
  span {
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }
}
