#issue_container {
  height: auto;
  background-color: var(--background-color);
}
.issue_wrapper {
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: center;
  .text {
    margin-bottom: 1rem;
  }
}

.issue_wrapper > div {
  width: 25%;
  margin-right: 1rem;
}
