@use './assets/styles/global';

:root {
  --primary-color: #1d262d;
  --primary-light: #28343e;
  --secondary-color: #fe7912;
  --text-light: #8a96a0;
  --background-color: #f7f8fa;
  --input-placeholder: #7d7d7e;
  --input-border: #777778;
  --border-color: #cfcfcf;
  --badge-success: #28a745;
  --badge-warning: #ebaa02;
  --badge-danger: #dc3545;
  --font-body1: 16px;
  --font-body2: 14px;
  --font-subtitle1: 15px;
  --font-subtitle2: 14px;
  --font-caption: 12px;
  --font-overline: 12px;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: var(--primary-color);
}
